*{
    margin: 0px auto;
    padding: 10px;
}
#bodyindex { 
    background-color: rgb(204, 240, 229);
    text-align: left;
    border: rgb(77, 14, 14) solid 2px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}
h1, h3, a {
    text-align: center;
    color: rgb(0, 2, 139);
}
p{
    color: rgb(24, 22, 22);
}
pre, h4{
    background-color: grey;
}


/* Cabeçalho */
.logo_header{
    width: 130px;
    position: left;
}
.header{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    background-color: rgb(103, 255, 83);
}
nav{
    align-items: center;
    flex-direction: row;
    display: flex;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
}

nav li a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px rgb(2, 2, 2);
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}


/* Categorias index e pg beleza */
.titulo-entrada h3{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid  black;
    line-height: 0.1em;
    text-transform: uppercase;
    font-size: 20px;
}
.titulo-entrada h3 span{
    background: rgb(204, 240, 229);
    padding: 0 20px;
}
.novidades,
.mais-acessados{
    display: flex;
    background-color: rgba(255, 255, 255, 0.137);
    justify-content: space-evenly;
    align-items: center;
}
.item{
    width: 200px;
    height: 300px;
    background-color: rgba(240, 153, 172, 0.527);
    justify-content: space-evenly;
}
.item img{
    width: 190px;
    height: 170px;
    justify-content: space-evenly;
}


/* Rodapé */
footer {
    width: 100%;
    background-color: rgb(192, 192, 192);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3px 3.5px;
}

#footer_contacts h1 {
    margin-bottom: 0.75px;
}

#footer_social_media {
    display: flex;
    gap: 2px;
    margin-top: 1.5px;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 30px;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#youtube {
    background-color: #e70a0a;
}

#telegram {
    background-color: #5ba9f1;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75px;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #050505;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

#footer_subscribe p,  h3{
    color: black;
}

#button {
    background-color: #81f75d;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: rgb(153, 153, 153);
    font-size: 15px;
    padding: 30px;
    font-weight: 100;
}


/* PÁGINA 1 */
#bodypag1 { 
    background-color: rgb(184, 180, 226);
    text-align: left;
    border: rgb(77, 14, 14) solid 2px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}
.img {
    float: center;
    width: 30%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
}

.titulo-beleza h3{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.20em;
    text-transform: uppercase;
    font-size: 20px;
}
.titulo-beleza h3 span{
    background: rgb(255, 253, 253);
    padding: 0 15px 10px;
}
.titulo{
    display: flex;
    background-color: rgba(255, 255, 255, 0.137);
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.item {
    width: 200px;
    height: 250px;
    background-color: rgba(207, 238, 197, 0.527);
}
.item img{
    width: 190px;
    height: 170px;
}

/* .aba-cabelo,
.aba-unha,
.maquiagem h3{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.20em;
    text-transform: uppercase;
    font-size: 20px;
}
.aba-cabelo h3 span,
.aba-unha h3 span,
.maquiagem h3 span{
    background: rgb(255, 253, 253);
    padding: 0 15px 10px;
}
.cabelos,
.unhas,
.maquiagens{
    display: flex;
    background-color: rgba(255, 255, 255, 0.137);
    justify-content: space-evenly;
    align-items: center;
}
.item {
    width: 200px;
    height: 250px;
    background-color: rgba(240, 153, 172, 0.527);
}
.item img{
    width: 190px;
    height: 170px;
} */





/* PÁGINA 2 */
#bodypag2 { 
    background-color: rgb(240, 227, 204);
    text-align: left;
    border: rgb(77, 14, 14) solid 2px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}
.imgpg {
    float: center;
    width: 30%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
}
/* PÁGINA 3 */
#bodypag3 { 
    background-color: rgb(255, 191, 191);
    text-align: left;
    border: rgb(77, 14, 14) solid 2px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: italic;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}
.video {
    float: center;
    width: 31%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
}

/* PÁGINA 4 */
#bodyformulario {
    background-color: rgb(190, 157, 124);
    text-align: left;
    border: rgb(77, 14, 14) solid 1px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}
#dados_pessoais{
    border: 3px solid blueviolet;
    border-style: dotted solid;
}
#endereco{
    border: 3px solid burlywood;
    border-style: dotted solid;
}
#acesso {
    border: 3px solid teal;
    border-style: dotted solid;
}
#comentarios {
    border: 3px solid tomato;
    border-style: dotted solid;
}

/* PÁGINA 5 */






/* PÁGINA 6 */
.gastronomia, .serie h3{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.20em;
    text-transform: capitalize;
    font-size: 20px;
}
.gastronomia h3 span,
.serie h3 span {
    background: rgb(255, 253, 253);
    padding: 0 15px 10px;
}
.gastronomia-titulo, .serie-titulo{
    display: flex;
    background-color: rgb(252, 252, 252);
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.item {
    width: 950px;
    height: 900px;
    background-color: rgba(207, 238, 197, 0.527);
}
.item img{
    width: 190px;
    height: 170px;
}